*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* margin-left: 45px;
    margin-right: 45px; */
    background-color: #fdd017;
    /* f4c430 ffd700 */

}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: #f4c430;
    padding-left: 45px;
    padding-right: 45px;
    font-family: "Pacifico", cursive;
    

}

nav ul {
    display: flex;
    gap: 25px;
    font-size: 25px;
    list-style-type: none;
    
    
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;

    /* margin: 0, auto; */
    /* justify-content: space-between; */
}

.container p {
    text-align:center;
}

.tile-set {
    width: 300px;
    height: 300px;
    padding: 35px 35px 35px 35px;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 15px;
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
    font-weight: 600;
}

.tile-set img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}